<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Website Development</title>
</head>
<body id="mainbackgroundcoding">
    <%- include ('partials/navbar.ejs') %>
    <div class="container mt-5">
        <div class="text-center mb-4">
            <h2 id="c1">My Coding Works</h2>
            <p id="c1">Below are some of my works. Click on each to explore more about them!</p>
        </div>

        <!-- Mini-Project -->
        <div class="row mb-5">
            <div class="col-md-6">
                <!-- Clickable Image that triggers the modal -->
                <a href="#" data-bs-toggle="modal" data-bs-target="#project1Modal">
                    <img src="C346KPOP1.png" class="img-fluid" alt="Project 1">
                </a>
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <h3 id="c2">React Native Works</h3>
                <p id="c2">These are some of the works from lesson 5 to 8 I have done using React Native. I 
                have learnt different things and used the information in my works such as a KPOP App, an Anime 
                App and a Pokemon App.Overtime, I have learnt the installation of many things such as picker, 
                navigation, asyncstorage, etc, and have used it in these apps. I have also used some styling 
                techniques to design the app, all of the design structures are relaly similar such as the use of 
                font, color, background, padding, etc. All apps that I have created are very standard in a way 
                where there is always a app.js, add.js, edit.js, data.js, home.js and navigation.js. For example, 
                this Anime App, I have created sections such as 1st Gen, 2nd Gen, 3rd Gen, 4th Gen and 5th Gen, 
                to show the different sections, and when I'm adding idol groups, I can choose which gen they are 
                from and add it in. I also added some bright colors to make it look better.
                </p>
            </div>
        </div>

        <!-- Modals Section -->
        <!-- Mini-Project Modal with Carousel -->
        <div class="modal fade" id="project1Modal" tabindex="-1" aria-labelledby="project1ModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Bootstrap Carousel for Mini-Project Images -->
                        <div id="project1Carousel" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <!-- First Image -->
                                <div class="carousel-item active">
                                    <img src="C346Anime1.png" class="d-block w-100" alt="Coding Mini-Project Image 1">
                                </div>
                                <!-- Second Image -->
                                <div class="carousel-item">
                                    <img src="C346Anime2.png" class="d-block w-100" alt="Coding Mini-Project Image 2">
                                </div>
                                <!-- Third Image -->
                                <div class="carousel-item">
                                    <img src="C346Pokemon1.png" class="d-block w-100" alt="Coding Mini-Project Image 3">
                                </div>
                                <!-- Fourth Image -->
                                <div class="carousel-item">
                                    <img src="C346Pokemon2.png" class="d-block w-100" alt="Coding Mini-Project Image 4">
                                </div>
                                <!-- Fifth Image -->
                                <div class="carousel-item">
                                    <img src="C346KPOP1.png" class="d-block w-100" alt="Coding Mini-Project Image 5">
                                </div>
                                <!-- Sixth Image -->
                                <div class="carousel-item">
                                    <img src="C346KPOP2.png" class="d-block w-100" alt="Coding Mini-Project Image 6">
                                </div>
                            </div>

                            <!-- Carousel Controls -->
                            <button class="carousel-control-prev" type="button" data-bs-target="#project1Carousel" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#project1Carousel" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- In-Class-Project -->
        <div class="row mb-5">
            <div class="col-md-6">
                <!-- Clickable Image that triggers the modal -->
                <a href="#" data-bs-toggle="modal" data-bs-target="#project2Modal">
                    <img src="C346Boats1.png" class="img-fluid" alt="Project 2">
                </a>
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <h3 id="c2">React Native Works</h3>
                <p id="c2">These are some of the works from lesson 1 to 4 I have done using React Native. I have 
                learnt different things and used the information in my works such as a Boats App, a Movie App 
                and an Animal Quiz App. Overtime, I have learnt the installation of many things such as logos, 
                where we need to go to a website to download and use the icons/logos and put it in our app, 
                such as the boat app, the logo of the boat is being downloaded and placed inside.
                I have also used some styling techniques to design the app. For example this Boat App, There
                is sort of a header on top to catch people's attention, and it is highlighted in red, below that
                is the name of the different boats and its information, there's also a picture to show.</p>
            </div>
        </div>

        <!-- Modals Section -->
        <!-- Mini-Project Modal with Carousel -->
        <div class="modal fade" id="project2Modal" tabindex="-1" aria-labelledby="project2ModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Bootstrap Carousel for Mini-Project Images -->
                        <div id="project2Carousel" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <!-- First Image -->
                                <div class="carousel-item active">
                                    <img src="C346AnimalQuiz1.png" class="d-block w-100" alt="Coding In-Class-Project Image 1">
                                </div>
                                <!-- Second Image -->
                                <div class="carousel-item">
                                    <img src="C346AnimalQuiz2.png" class="d-block w-100" alt="Coding In-Class-Project Image 2">
                                </div>
                                <!-- Third Image -->
                                <div class="carousel-item">
                                    <img src="C346Movie1.png" class="d-block w-100" alt="Coding In-Class-Project Image 3">
                                </div>
                                <!-- Fourth Image -->
                                <div class="carousel-item">
                                    <img src="C346Movie2.png" class="d-block w-100" alt="Coding In-Class-Project Image 4">
                                </div>
                                <!-- Fifth Image -->
                                <div class="carousel-item">
                                    <img src="C346Boats1.png" class="d-block w-100" alt="Coding In-Class-Project Image 5">
                                </div>
                                <!-- Sixth Image -->
                                <div class="carousel-item">
                                    <img src="C346Boats2.png" class="d-block w-100" alt="Coding In-Class-Project Image 6">
                                </div>
                            </div>

                            <!-- Carousel Controls -->
                            <button class="carousel-control-prev" type="button" data-bs-target="#project2Carousel" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#project2Carousel" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <a id="" href="/coding" class="btn btn-primary">Back</a>
        </div>

    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
</body>
</html>