#mainbackgrounddata{ background-color: darkblue;}
  
#d1{color: white;
  font-family: "Arial";
  text-align: center;
}

.contact-box {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  color: blue;
  transition: transform 0.3s;
  margin: 0 10px; /* Optional margin */
  text-align: center;
}

.row.my-5 {
  display: flex;
  justify-content: space-between; /* Equal space between boxes */
}